ANTHROPIC_API_KEY=
TAVILY_API_KEY=
BRAVE_SEARCH_API_KEY=
SENDGRID_API_KEY=
NOTIFICATION_EMAIL=ira@whpwellness.com
WHP_BASE_URL=https://www.whpwellness.com
OJUS_BASE_URL=https://www.ojuslife.com
PRODUCTS_CATALOG_URL=https://www.whpwellness.com/category/all-products
